# Structured & Qualitative example
## Where Does Andrew Live?
Press "Shift + Enter" to run code & step through the text

## Set up
Press "Shift + Enter"

In [17]:
# Ish via https://til.simonwillison.net/python/sqlite-in-pyodide
from js import fetch
 
async def load_file_into_in_mem_filesystem(url, fn=None):
    """Load a file from a URL into an in-memory filesystem."""
     
    # Create a filename if required
    fn = fn if fn is not None else url.split("/")[-1]
     
    # Fetch file from URL
    res = await fetch(url)
     
    # Buffer it
    buffer = await res.arrayBuffer()
     
    # Write file to in-memory file system
    open(fn, "wb").write(bytes(buffer.valueOf().to_py()))
 
    return fn

## Download a database

SQL or Relational Databases are the mainstay of Structured data in the enterprise

In [18]:
url="https://raw.githubusercontent.com/UTCSheffield/OCR-Unit-7-Data-analysis-and-design/main/content/data/chinook.db"
 
db_file = await load_file_into_in_mem_filesystem(url)

## Connect to the database

In [19]:
import sqlite3
import pandas as pd

# Open database connection
c = sqlite3.connect(db_file)
 
employees = pd.read_sql_query("SELECT * FROM employees", c)

# list all the employees
employees

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

## Just the IT Staff

In [20]:
employees_fitered = pd.read_sql_query("SELECT EmployeeId, FirstName, LastName, Email, Title, HireDate FROM employees WHERE Title='IT Staff' ORDER BY HireDate;", c)
employees_fitered

,EmployeeId,FirstName,LastName,Email,Title,HireDate
0,7,Robert,King,robert@chinookcorp.com,IT Staff,2004-01-02 00:00:00
1,8,Laura,Callahan,laura@chinookcorp.com,IT Staff,2004-03-04 00:00:00

## Task : Just the staff with Title of "Sales Support Agent"

1. Change the code below so the staff with Title of "Sales Support Agent" are listed
2. Order the staff by BirthDate, so you can see who is the youngest

In [21]:
employees_fitered = pd.read_sql_query("SELECT EmployeeId, FirstName, LastName, Email, Title, HireDate FROM employees WHERE Title='IT Staff' ORDER BY HireDate;", c)
employees_fitered

,EmployeeId,FirstName,LastName,Email,Title,HireDate
0,7,Robert,King,robert@chinookcorp.com,IT Staff,2004-01-02 00:00:00
1,8,Laura,Callahan,laura@chinookcorp.com,IT Staff,2004-03-04 00:00:00

## Where Does Andrew Live?

Change the code below to add the City and Address list and just look for people named Andrew

In [ ]:
employees_fitered = pd.read_sql_query("SELECT EmployeeId, FirstName, LastName, Email, Title, HireDate FROM employees WHERE Title='IT Staff';", c)
employees_fitered

## Joining data from 2 tables

In [22]:
albums = pd.read_sql_query("SELECT * FROM albums JOIN artists ON (albums.ArtistId = artists.ArtistId);", c)
albums

,AlbumId,Title,ArtistId,ArtistId,Name
0,1,For Those About To Rock We Salute You,1,1,AC/DC
1,2,Balls to the Wall,2,2,Accept
2,3,Restless and Wild,2,2,Accept
3,4,Let There Be Rock,1,1,AC/DC
4,5,Big Ones,3,3,Aerosmith
...,...,...,...,...,...
342,343,Respighi:Pines of Rome,226,226,Eugene Ormandy
343,344,Schubert: The Late String Quartets & String Qu...,272,272,Emerson String Quartet
344,345,Monteverdi: L'Orfeo,273,273,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon..."
345,346,Mozart: Chamber Music,274,274,Nash Ensemble
346,347,Koyaanisqatsi (Soundtrack from the Motion Pict...,275,275,Philip Glass Ensemble

Notice how Pandas (pd) is summarizing the data

## Tracks by an Artist

In [23]:
tracks = pd.read_sql_query("SELECT * FROM tracks JOIN albums ON (tracks.AlbumId = albums.AlbumId) JOIN artists ON (albums.ArtistId = artists.ArtistId) WHERE artists.Name ='AC/DC';", c)
tracks

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice,AlbumId,Title,ArtistId,ArtistId,Name
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
1,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
2,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
3,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
4,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
5,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
6,11,C.O.D.,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",199836,6566314,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
7,12,Breaking The Rules,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263288,8596840,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
8,13,Night Of The Long Knives,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205688,6706347,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
9,14,Spellbound,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",270863,8817038,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
10,15,Go Down,4,1,1,AC/DC,331180,10847611,0.99,4,Let There Be Rock,1,1,AC/DC
11,16,Dog Eat Dog,4,1,1,AC/DC,215196,7032162,0.99,4,Let There Be Rock,1,1,AC/DC
12,17,Let There Be Rock,4,1,1,AC/DC,366654,12021261,0.99,4,Let There Be Rock,1,1,AC/DC
13,18,Bad Boy Boogie,4,1,1,AC/DC,267728,8776140,0.99,4,Let There Be Rock,1,1,AC/DC
14,19,Problem Child,4,1,1,AC/DC,325041,10617116,0.99,4,Let There Be Rock,1,1,AC/DC
15,20,Overdose,4,1,1,AC/DC,369319,12066294,0.99,4,Let There Be Rock,1,1,AC/DC
16,21,Hell Ain't A Bad Place To Be,4,1,1,AC/DC,254380,8331286,0.99,4,Let There Be Rock,1,1,AC/DC
17,22,Whole Lotta Rosie,4,1,1,AC/DC,323761,10547154,0.99,4,Let There Be Rock,1,1,AC/DC

In [24]:
tracks = pd.read_sql_query("SELECT * FROM tracks JOIN albums ON (tracks.AlbumId = albums.AlbumId) JOIN artists ON (albums.ArtistId = artists.ArtistId) WHERE artists.Name ='AC/DC';", c)
tracks

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice,AlbumId,Title,ArtistId,ArtistId,Name
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
1,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
2,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
3,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
4,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
5,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
6,11,C.O.D.,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",199836,6566314,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
7,12,Breaking The Rules,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263288,8596840,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
8,13,Night Of The Long Knives,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205688,6706347,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
9,14,Spellbound,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",270863,8817038,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
10,15,Go Down,4,1,1,AC/DC,331180,10847611,0.99,4,Let There Be Rock,1,1,AC/DC
11,16,Dog Eat Dog,4,1,1,AC/DC,215196,7032162,0.99,4,Let There Be Rock,1,1,AC/DC
12,17,Let There Be Rock,4,1,1,AC/DC,366654,12021261,0.99,4,Let There Be Rock,1,1,AC/DC
13,18,Bad Boy Boogie,4,1,1,AC/DC,267728,8776140,0.99,4,Let There Be Rock,1,1,AC/DC
14,19,Problem Child,4,1,1,AC/DC,325041,10617116,0.99,4,Let There Be Rock,1,1,AC/DC
15,20,Overdose,4,1,1,AC/DC,369319,12066294,0.99,4,Let There Be Rock,1,1,AC/DC
16,21,Hell Ain't A Bad Place To Be,4,1,1,AC/DC,254380,8331286,0.99,4,Let There Be Rock,1,1,AC/DC
17,22,Whole Lotta Rosie,4,1,1,AC/DC,323761,10547154,0.99,4,Let There Be Rock,1,1,AC/DC

## Tracks by other artists

Pick another artist form the table below and list their tracks

In [25]:
artists = pd.read_sql_query("SELECT Name FROM artists;", c)
print(artists['Name'].to_list())

['AC/DC', 'Accept', 'Aerosmith', 'Alanis Morissette', 'Alice In Chains', 'Antônio Carlos Jobim', 'Apocalyptica', 'Audioslave', 'BackBeat', 'Billy Cobham', 'Black Label Society', 'Black Sabbath', 'Body Count', 'Bruce Dickinson', 'Buddy Guy', 'Caetano Veloso', 'Chico Buarque', 'Chico Science & Nação Zumbi', 'Cidade Negra', 'Cláudio Zoli', 'Various Artists', 'Led Zeppelin', 'Frank Zappa & Captain Beefheart', 'Marcos Valle', 'Milton Nascimento & Bebeto', 'Azymuth', 'Gilberto Gil', 'João Gilberto', 'Bebel Gilberto', 'Jorge Vercilo', 'Baby Consuelo', 'Ney Matogrosso', 'Luiz Melodia', 'Nando Reis', 'Pedro Luís & A Parede', 'O Rappa', 'Ed Motta', 'Banda Black Rio', 'Fernanda Porto', 'Os Cariocas', 'Elis Regina', 'Milton Nascimento', 'A Cor Do Som', 'Kid Abelha', 'Sandra De Sá', 'Jorge Ben', 'Hermeto Pascoal', 'Barão Vermelho', 'Edson, DJ Marky & DJ Patife Featuring Fernanda Porto', 'Metallica', 'Queen', 'Kiss', 'Spyro Gyra', 'Green Day', 'David Coverdale', 'Gonzaguinha', 'Os Mutantes', 'Deep Purple', 'Santana', 'Santana Feat. Dave Matthews', 'Santana Feat. Everlast', 'Santana Feat. Rob Thomas', 'Santana Feat. Lauryn Hill & Cee-Lo', 'Santana Feat. The Project G&B', 'Santana Feat. Maná', 'Santana Feat. Eagle-Eye Cherry', 'Santana Feat. Eric Clapton', 'Miles Davis', 'Gene Krupa', 'Toquinho & Vinícius', 'Vinícius De Moraes & Baden Powell', 'Vinícius De Moraes', 'Vinícius E Qurteto Em Cy', 'Vinícius E Odette Lara', 'Vinicius, Toquinho & Quarteto Em Cy', 'Creedence Clearwater Revival', 'Cássia Eller', 'Def Leppard', 'Dennis Chambers', 'Djavan', 'Eric Clapton', 'Faith No More', 'Falamansa', 'Foo Fighters', 'Frank Sinatra', 'Funk Como Le Gusta', 'Godsmack', "Guns N' Roses", 'Incognito', 'Iron Maiden', 'James Brown', 'Jamiroquai', 'JET', 'Jimi Hendrix', 'Joe Satriani', 'Jota Quest', 'João Suplicy', 'Judas Priest', 'Legião Urbana', 'Lenny Kravitz', 'Lulu Santos', 'Marillion', 'Marisa Monte', 'Marvin Gaye', 'Men At Work', 'Motörhead', 'Motörhead & Girlschool', 'Mônica Marianno', 'Mötley Crüe', 'Nirvana', 'O Terço', 'Olodum', 'Os Paralamas Do Sucesso', 'Ozzy Osbourne', 'Page & Plant', 'Passengers', "Paul D'Ianno", 'Pearl Jam', 'Peter Tosh', 'Pink Floyd', 'Planet Hemp', 'R.E.M. Feat. Kate Pearson', 'R.E.M. Feat. KRS-One', 'R.E.M.', 'Raimundos', 'Raul Seixas', 'Red Hot Chili Peppers', 'Rush', 'Simply Red', 'Skank', 'Smashing Pumpkins', 'Soundgarden', 'Stevie Ray Vaughan & Double Trouble', 'Stone Temple Pilots', 'System Of A Down', 'Terry Bozzio, Tony Levin & Steve Stevens', 'The Black Crowes', 'The Clash', 'The Cult', 'The Doors', 'The Police', 'The Rolling Stones', 'The Tea Party', 'The Who', 'Tim Maia', 'Titãs', 'Battlestar Galactica', 'Heroes', 'Lost', 'U2', 'UB40', 'Van Halen', 'Velvet Revolver', 'Whitesnake', 'Zeca Pagodinho', 'The Office', 'Dread Zeppelin', 'Battlestar Galactica (Classic)', 'Aquaman', 'Christina Aguilera featuring BigElf', "Aerosmith & Sierra Leone's Refugee Allstars", 'Los Lonely Boys', 'Corinne Bailey Rae', 'Dhani Harrison & Jakob Dylan', 'Jackson Browne', 'Avril Lavigne', 'Big & Rich', "Youssou N'Dour", 'Black Eyed Peas', 'Jack Johnson', 'Ben Harper', 'Snow Patrol', 'Matisyahu', 'The Postal Service', 'Jaguares', 'The Flaming Lips', "Jack's Mannequin & Mick Fleetwood", 'Regina Spektor', 'Scorpions', 'House Of Pain', 'Xis', 'Nega Gizza', 'Gustavo & Andres Veiga & Salazar', 'Rodox', 'Charlie Brown Jr.', 'Pedro Luís E A Parede', 'Los Hermanos', 'Mundo Livre S/A', 'Otto', 'Instituto', 'Nação Zumbi', 'DJ Dolores & Orchestra Santa Massa', 'Seu Jorge', 'Sabotage E Instituto', 'Stereo Maracana', 'Cake', 'Aisha Duo', 'Habib Koité and Bamada', 'Karsh Kale', 'The Posies', 'Luciana Souza/Romero Lubambo', 'Aaron Goldberg', 'Nicolaus Esterhazy Sinfonia', 'Temple of the Dog', 'Chris Cornell', 'Alberto Turco & Nova Schola Gregoriana', 'Richard Marlow & The Choir of Trinity College, Cambridge', 'English Concert & Trevor Pinnock', 'Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker', 'Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer', 'Wilhelm Kempff', 'Yo-Yo Ma', 'Scholars Baroque Ensemble', 'Academy of St. Martin in the Fields & Sir Neville Marriner', 'Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner', 'Berliner Philharmoniker, Claudio Abbado & Sabine Meyer', 'Royal Philharmonic Orchestra & Sir Thomas Beecham', 'Orchestre Révolutionnaire et Romantique & John Eliot Gardiner', 'Britten Sinfonia, Ivor Bolton & Lesley Garrett', 'Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti', 'Sir Georg Solti & Wiener Philharmoniker', 'Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair', 'London Symphony Orchestra & Sir Charles Mackerras', 'Barry Wordsworth & BBC Concert Orchestra', 'Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker', 'Eugene Ormandy', 'Luciano Pavarotti', 'Leonard Bernstein & New York Philharmonic', 'Boston Symphony Orchestra & Seiji Ozawa', 'Aaron Copland & London Symphony Orchestra', 'Ton Koopman', 'Sergei Prokofiev & Yuri Temirkanov', 'Chicago Symphony Orchestra & Fritz Reiner', 'Orchestra of The Age of Enlightenment', 'Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra', 'James Levine', 'Berliner Philharmoniker & Hans Rosbaud', 'Maurizio Pollini', 'Academy of St. Martin in the Fields, Sir Neville Marriner & William Bennett', 'Gustav Mahler', 'Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos', 'Edo de Waart & San Francisco Symphony', 'Antal Doráti & London Symphony Orchestra', 'Choir Of Westminster Abbey & Simon Preston', 'Michael Tilson Thomas & San Francisco Symphony', 'Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker', "The King's Singers", 'Berliner Philharmoniker & Herbert Von Karajan', 'Sir Georg Solti, Sumi Jo & Wiener Philharmoniker', "Christopher O'Riley", 'Fretwork', 'Amy Winehouse', 'Calexico', 'Otto Klemperer & Philharmonia Orchestra', 'Yehudi Menuhin', 'Philharmonia Orchestra & Sir Neville Marriner', 'Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart', 'Les Arts Florissants & William Christie', 'The 12 Cellists of The Berlin Philharmonic', 'Adrian Leaper & Doreen de Feis', 'Roger Norrington, London Classical Players', "Charles Dutoit & L'Orchestre Symphonique de Montréal", 'Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir', "Kent Nagano and Orchestre de l'Opéra de Lyon", 'Julian Bream', 'Martin Roscoe', 'Göteborgs Symfoniker & Neeme Järvi', 'Itzhak Perlman', 'Michele Campanella', 'Gerald Moore', 'Mela Tenenbaum, Pro Musica Prague & Richard Kapp', 'Emerson String Quartet', 'C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu', 'Nash Ensemble', 'Philip Glass Ensemble']

In [26]:
tracks = pd.read_sql_query("SELECT * FROM tracks JOIN albums ON (tracks.AlbumId = albums.AlbumId) JOIN artists ON (albums.ArtistId = artists.ArtistId) WHERE artists.Name ='AC/DC';", c)
tracks

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice,AlbumId,Title,ArtistId,ArtistId,Name
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
1,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
2,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
3,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
4,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
5,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
6,11,C.O.D.,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",199836,6566314,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
7,12,Breaking The Rules,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263288,8596840,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
8,13,Night Of The Long Knives,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205688,6706347,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
9,14,Spellbound,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",270863,8817038,0.99,1,For Those About To Rock We Salute You,1,1,AC/DC
10,15,Go Down,4,1,1,AC/DC,331180,10847611,0.99,4,Let There Be Rock,1,1,AC/DC
11,16,Dog Eat Dog,4,1,1,AC/DC,215196,7032162,0.99,4,Let There Be Rock,1,1,AC/DC
12,17,Let There Be Rock,4,1,1,AC/DC,366654,12021261,0.99,4,Let There Be Rock,1,1,AC/DC
13,18,Bad Boy Boogie,4,1,1,AC/DC,267728,8776140,0.99,4,Let There Be Rock,1,1,AC/DC
14,19,Problem Child,4,1,1,AC/DC,325041,10617116,0.99,4,Let There Be Rock,1,1,AC/DC
15,20,Overdose,4,1,1,AC/DC,369319,12066294,0.99,4,Let There Be Rock,1,1,AC/DC
16,21,Hell Ain't A Bad Place To Be,4,1,1,AC/DC,254380,8331286,0.99,4,Let There Be Rock,1,1,AC/DC
17,22,Whole Lotta Rosie,4,1,1,AC/DC,323761,10547154,0.99,4,Let There Be Rock,1,1,AC/DC

### Save and close this file